* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: span 2;
  display: grid;
  align-items: center;
  white-space: nowrap;
  background-color: #393f4d;
  grid-template-columns: repeat(2, 4fr);
}

.menu ul,
.menu li {
  display: grid;
  font-size: 16px;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  grid-column: 1;
  align-items: stretch;
  display: inline-grid;
  gap: 50px;
  align-self: center;
  background-color: #C50208;
  grid-template-rows: repeat(autofill, minmax(150px, 1fr));
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-column: 2;
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: span 2;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}